In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import os
import random

import warnings
warnings.filterwarnings("ignore")

In [4]:
np.random.seed(2022)
random.seed(2022)
os.environ['PYTHONHASHSEED'] = '0'

In [5]:
data = pd.read_csv('./bitstampUSD.csv')

In [6]:
data.head()
# Weighted_Price값이 예측할 값

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [8]:
data.shape

(4857377, 8)

In [9]:
data.describe()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
count,4.857377e+06,3.613769e+06,3.613769e+06,3.613769e+06,3.613769e+06,3.613769e+06,3.613769e+06,3.613769e+06
mean,1.471301e+09,6.009024e+03,6.013357e+03,6.004488e+03,6.009014e+03,9.323249e+00,4.176284e+04,6.008935e+03
std,8.428019e+07,8.996247e+03,9.003521e+03,8.988778e+03,8.996360e+03,3.054989e+01,1.518248e+05,8.995992e+03
min,1.325318e+09,3.800000e+00,3.800000e+00,1.500000e+00,1.500000e+00,0.000000e+00,0.000000e+00,3.800000e+00
25%,1.398179e+09,4.438600e+02,4.440000e+02,4.435200e+02,4.438600e+02,4.097759e-01,4.521422e+02,4.438306e+02
50%,1.471428e+09,3.596970e+03,3.598190e+03,3.595620e+03,3.597000e+03,1.979811e+00,3.810124e+03,3.596804e+03
75%,1.544288e+09,8.627270e+03,8.632980e+03,8.621090e+03,8.627160e+03,7.278216e+00,2.569821e+04,8.627637e+03
max,1.617149e+09,6.176356e+04,6.178183e+04,6.167355e+04,6.178180e+04,5.853852e+03,1.390067e+07,6.171621e+04

In [10]:
# Data Preprocess
data.isnull().sum()

Timestamp                  0
Open                 1243608
High                 1243608
Low                  1243608
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [11]:
# 데이터를 초단위로 나눔
data.index = pd.to_datetime(data['Timestamp'], unit='s')
data.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,,
2011-12-31 07:52:00,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
2011-12-31 07:53:00,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 07:54:00,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 07:55:00,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 07:56:00,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Timestamp 제거
data = data.drop(['Timestamp'], axis=1)
data.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2011-12-31 07:52:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
2011-12-31 07:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 07:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 07:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 07:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# 데이터를 일단위로 나눔
data = data.resample('D').mean()
data.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2011-12-31,4.465000,4.482500,4.465000,4.482500,23.829470,106.330084,4.471603
2012-01-01,4.806667,4.806667,4.806667,4.806667,7.200667,35.259720,4.806667
2012-01-02,5.000000,5.000000,5.000000,5.000000,19.048000,95.240000,5.000000
2012-01-03,5.252500,5.252500,5.252500,5.252500,11.004660,58.100651,5.252500
2012-01-04,5.200000,5.223333,5.200000,5.223333,11.914807,63.119577,5.208159

In [16]:
# 결측치 제거
data = data.dropna()
data.isnull().sum()

Open                 0
High                 0
Low                  0
Close                0
Volume_(BTC)         0
Volume_(Currency)    0
Weighted_Price       0
dtype: int64

In [18]:
# Scaling
from sklearn.preprocessing import RobustScaler

rob_scaler = RobustScaler()

data['open'] = rob_scaler.fit_transform(data['Open'].values.reshape(-1,1))
data['high'] = rob_scaler.fit_transform(data['High'].values.reshape(-1,1))
data['low'] = rob_scaler.fit_transform(data['Low'].values.reshape(-1,1))
data['close'] = rob_scaler.fit_transform(data['Close'].values.reshape(-1,1))
data['volume_(BTC)'] = rob_scaler.fit_transform(data['Volume_(BTC)'].values.reshape(-1,1))
data['volume_(Currency)'] = rob_scaler.fit_transform(data['Volume_(Currency)'].values.reshape(-1,1))
data['weighted_Price'] = rob_scaler.fit_transform(data['Weighted_Price'].values.reshape(-1,1))

In [19]:
data.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,open,high,low,close,volume_(BTC),volume_(Currency),weighted_Price
Timestamp,,,,,,,,,,,,,,
2011-12-31,4.465000,4.482500,4.465000,4.482500,23.829470,106.330084,4.471603,-0.099101,-0.099060,-0.099124,-0.099099,1.919561,-0.196897,-0.099097
2012-01-01,4.806667,4.806667,4.806667,4.806667,7.200667,35.259720,4.806667,-0.099053,-0.099014,-0.099075,-0.099052,-0.049931,-0.198978,-0.099049
2012-01-02,5.000000,5.000000,5.000000,5.000000,19.048000,95.240000,5.000000,-0.099025,-0.098987,-0.099047,-0.099025,1.353250,-0.197222,-0.099022
2012-01-03,5.252500,5.252500,5.252500,5.252500,11.004660,58.100651,5.252500,-0.098989,-0.098950,-0.099011,-0.098989,0.400609,-0.198309,-0.098986
2012-01-04,5.200000,5.223333,5.200000,5.223333,11.914807,63.119577,5.208159,-0.098996,-0.098955,-0.099019,-0.098993,0.508405,-0.198162,-0.098992

In [21]:
data.drop(['Open', 'High', 'Low', 'Close', 'Volume_(BTC)', 'Volume_(Currency)', 'Weighted_Price'], axis=1, inplace=True)

In [22]:
data.head()

,open,high,low,close,volume_(BTC),volume_(Currency),weighted_Price
Timestamp,,,,,,,
2011-12-31,-0.099101,-0.099060,-0.099124,-0.099099,1.919561,-0.196897,-0.099097
2012-01-01,-0.099053,-0.099014,-0.099075,-0.099052,-0.049931,-0.198978,-0.099049
2012-01-02,-0.099025,-0.098987,-0.099047,-0.099025,1.353250,-0.197222,-0.099022
2012-01-03,-0.098989,-0.098950,-0.099011,-0.098989,0.400609,-0.198309,-0.098986
2012-01-04,-0.098996,-0.098955,-0.099019,-0.098993,0.508405,-0.198162,-0.098992

In [23]:
data.tail()

,open,high,low,close,volume_(BTC),volume_(Currency),weighted_Price
Timestamp,,,,,,,
2021-03-27,7.787505,7.785233,7.789185,7.788185,-0.686750,2.753435,7.787350
2021-03-28,7.879015,7.876344,7.880941,7.879589,-0.731276,2.160531,7.878749
2021-03-29,8.033533,8.031770,8.034637,8.034019,-0.460650,6.057749,8.033228
2021-03-30,8.238300,8.235355,8.240368,8.238912,-0.622779,3.846771,8.237991
2021-03-31,8.298311,8.293361,8.302144,8.300195,-0.581464,4.467015,8.297642

In [24]:
# Train은 이전 시점, Test는 미래 시점 data
train = data.iloc[:-120]
test = data.iloc[-120:]

In [25]:
train = train.sample(frac=1)
test = test.sample(frac=1)

In [26]:
X_train = train.drop(['weighted_Price'], axis=1)
y_train = train['weighted_Price']

X_test = test.drop(['weighted_Price'], axis=1)
y_test = test['weighted_Price']

In [27]:
# Pandas to Numpy
X_train = X_train.values
y_train = y_train.values
X_test = X_test.values
y_test = y_test.values

In [33]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

In [34]:
from sklearn.metrics import mean_squared_error

In [35]:
random_forest = RandomForestRegressor(n_estimators=100, max_depth=10)
random_forest.fit(X_train, y_train)

RandomForestRegressor(max_depth=10)

In [36]:
y_pred = random_forest.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(rmse)

3.423366278484888

In [37]:
knn = KNeighborsRegressor(n_neighbors=2)
knn.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=2)

In [38]:
y_pred=knn.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
print('rmse:',rmse)

rmse: 3.516800805123711

In [ ]:
# Random Forest가 더 좋은 성능을 보임